.bd-example {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 1.5rem;
    border-width: 0.2rem;
    margin: 1rem -15px;
    border-style: solid;
    border-color: rgb(106, 106, 109);
    border-image: initial;
}