<div class="bd-example">
  <form>
    <div class="form-group">
      <label for="useremail">Email address</label>
      <input type="email" class="form-control" id="useremail" name="useremail" aria-describedby="useremail" placeholder="Enter email">    
    </div>
    <div class="form-group">
      <label for="userpassword">Password</label>
      <input type="password" class="form-control" id="userpassword" name="userpassword" placeholder="Password">
    </div>  
    <button type="submit" class="btn btn-primary">Log-in</button>
  </form>
</div>